body{
    text-align: center;
    background-color: blueviolet;
}
h1{
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black
}
p{
    color: white;
}
button {
    border-radius: 70px;
    color: white;
    background-color: #28033586;
    border: 3px solid #d875ff;
    padding: 10px 20px;
    margin-bottom: 20px;
}
a {color:#ff0000;}
a:visited {color:#0000ff;}
a:hover {background:#66ff66;}